<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings file="C:\Users\Charles Humphrey\AppData\Roaming\Microsoft\UserSecrets\cc873430-3401-4c32-983a-9abd8415adee\secrets.config">
		<add key="PlayFabTitleId" value=""/>
		<add key="key" value=""/>
		<add key="iv" value=""/>
	</appSettings>
</configuration>